{% extends "public_template.html" %}

{% block title %} About {% endblock %}
{% block main %}

<section class="about section" id="about">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>About Me</h2>
      </div>
    </div>

    <div class="row">
      <div class="about-content padd-15">
        <div class="row">
          <div class="about-text padd-15">
            <h3>I'm Adelakun Muis and <span>IT Tech</span></h3>

            <p>
              I am a dedicated and solutions-oriented IT Technician with hands-on experience in maintaining,
              troubleshooting, and supporting a wide range of hardware, software, and network systems. My passion for
              technology, combined with strong problem-solving skills, allows me to provide reliable technical support
              and keep systems running smoothly for both users and businesses.
            </p>
            <p>
              With 10 years in the IT field, I’ve developed a solid foundation in diagnosing technical issues,
              configuring devices, installing systems, and ensuring optimal performance of IT infrastructure. Whether
              it’s repairing a workstation, setting up secure networks, or assisting users with day-to-day technical
              challenges, I take pride in delivering prompt and effective support.
              </p>


              <!-- Key skills and experience include:

              Troubleshooting desktops, laptops, printers, and mobile devices.

              Installing and configuring operating systems, software, and network tools.

              Supporting users in person, remotely, or over the phone with technical issues.

              Maintaining system security, backups, and updates to minimize downtime. -->

             <p> I am always eager to learn new technologies and improve my technical knowledge to keep up with the
              fast-paced IT environment. My goal is to not only fix problems but to help prevent them, ensuring users
              can work efficiently and securely.</p>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="personal-info padd-15">
            <div class="row">
              <div class="info-item padd-15">
                <p>Birthday : <span>1 june 1990</span></p>
              </div>

              <div class="info-item padd-15">
                <p>Age : <span>35</span></p>
              </div>

              <div class="info-item padd-15">
                <p>Website : <span>www.domain.com</span></p>
              </div>

              <div class="info-item padd-15">
                <p>Email : <span>mrlogic@gmail.com</span></p>
              </div>

              <div class="info-item padd-15">
                <p>Degree : <span>CS</span></p>
              </div>

              <div class="info-item padd-15">
                <p>Phone : <span>+2347069344331</span></p>
              </div>

              <div class="info-item padd-15">
                <p>City : <span>Ibadan</span></p>
              </div>

              <div class="info-item padd-15">
                <p>Freelnace : <span>Available</span></p>
              </div>
            </div>

            <div class="row">
              <div class="buttons padd-15">
                <a href="#contact" data-section-index="1" class="btn hire-me">Hire Me</a>
              </div>
            </div>
          </div>

          <div class="skills padd-15">
            <div class="row">
              <div class="skill-item padd-15">
                <h5>Networking</h5>

                <div class="progress">
                  <div class="progress-in" style="width: 96%"></div>
                  <div class="skill-percent">96%</div>
                </div>
              </div>

              <div class="skill-item padd-15">
                <h5>software Engineering</h5>

                <div class="progress">
                  <div class="progress-in" style="width: 96%"></div>
                  <div class="skill-percent">96%</div>
                </div>
              </div>

              <div class="skill-item padd-15">
                <h5>Computer Engineering</h5>

                <div class="progress">
                  <div class="progress-in" style="width: 96%"></div>
                  <div class="skill-percent">96%</div>
                </div>
              </div>

              <div class="skill-item padd-15">
                <h5>Electrical Engineering</h5>

                <div class="progress">
                  <div class="progress-in" style="width: 76%"></div>
                  <div class="skill-percent">76%</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="education padd-15">
            <h3 class="title">Education</h3>

            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <!-- ===== timeline item ===== -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>

                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2013 - 2015
                    </h3>
                    <h4 class="timeline-title">
                      Master in Computer Science
                    </h4>

                    <p class="timeline-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. A, maiores. Facere, minus? Quam minus autem
                      quidem similique dignissimos cumque dolorum quis
                      optio blanditiis, doloremque veritatis.
                    </p>
                  </div>

                  <!-- ===== timeline item ===== -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>

                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2013 - 2015
                    </h3>
                    <h4 class="timeline-title">
                      Master in Computer Science
                    </h4>

                    <p class="timeline-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. A, maiores. Facere, minus? Quam minus autem
                      quidem similique dignissimos cumque dolorum quis
                      optio blanditiis, doloremque veritatis.
                    </p>
                  </div>

                  <!-- ===== timeline item ===== -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>

                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2013 - 2015
                    </h3>
                    <h4 class="timeline-title">
                      Master in Computer Science
                    </h4>

                    <p class="timeline-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. A, maiores. Facere, minus? Quam minus autem
                      quidem similique dignissimos cumque dolorum quis
                      optio blanditiis, doloremque veritatis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="experience padd-15">
            <h3 class="title">Experience</h3>

            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <!-- ===== timeline item ===== -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>

                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2013 - 2015
                    </h3>
                    <h4 class="timeline-title">
                      Master in Computer Science
                    </h4>

                    <p class="timeline-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. A, maiores. Facere, minus? Quam minus autem
                      quidem similique dignissimos cumque dolorum quis
                      optio blanditiis, doloremque veritatis.
                    </p>
                  </div>

                  <!-- ===== timeline item ===== -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>

                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2013 - 2015
                    </h3>
                    <h4 class="timeline-title">
                      Master in Computer Science
                    </h4>

                    <p class="timeline-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. A, maiores. Facere, minus? Quam minus autem
                      quidem similique dignissimos cumque dolorum quis
                      optio blanditiis, doloremque veritatis.
                    </p>
                  </div>

                  <!-- ===== timeline item ===== -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>

                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2013 - 2015
                    </h3>
                    <h4 class="timeline-title">
                      Master in Computer Science
                    </h4>

                    <p class="timeline-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. A, maiores. Facere, minus? Quam minus autem
                      quidem similique dignissimos cumque dolorum quis
                      optio blanditiis, doloremque veritatis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}