

      <!-- ===== Aside End ===== -->
       {% extends "public_template.html" %}
       {% block main %}

      <!-- ===== Main Content Start ===== -->
     
        <!-- ===== Home Section Start ===== -->
        <section class="home active section" id="home">
          <div class="container">
            <div class="row">
              <div class="home-info padd-15">
                <h3 class="hello">
                  Hello, my name is <span class="name">Adelakun Muheez</span>
                </h3>
                <h3 class="my-profession">
                  I' m a <span class="typing">web designer</span>
                </h3>

                <p>
                  I'm a web Designer with extensive experience for over 10
                  years.My expertise is to create and website design,graphic
                  design, and many more...
                </p>

                <a href="#" class="btn">Download CV</a>
              </div>

              <div class="home-img padd-15">
                <img src="{{url_for('static', filename='images/hero.jpg')}}" alt="" />
              </div>
            </div>
          </div>
        </section>
        <!-- ===== Home Section End ===== -->

        <!-- ===== About Section Start ===== -->
        
        <!-- ===== About Section End ===== -->

        
             {% endblock %}
    
