{% extends "public_template.html" %}

{% block title %} About {% endblock %}
{% block main %} 

<!-- ===== Services Section Start ===== -->
        <section class="service section" id="services">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Services</h2>
              </div>
            </div>

            <div class="row">
              <!-- ===== Service item Start ====== -->
               {% for work in works %}
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon">
                    <i class="fa {{work['icon']}}"></i>
                  </div>
                  <h4>{{ work['title'] }}</h4>
                  {% for i in work['option'] %}
                  
                  <p>
                    {{i}}
                  </p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <!-- ===== Service item End ====== -->

             

              

             

              
            </div>
          </div>
        </section>
        <!-- ===== Services Section End ===== -->
{% endblock %}